*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{
background:#0f172a;
color:white;
}

.navbar{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 50px;
background:#111827;
}

.logo{
font-size:28px;
font-weight:bold;
color:#f59e0b;
}

.nav-links{
display:flex;
list-style:none;
gap:20px;
}

.nav-links a{
color:white;
text-decoration:none;
}

.hero{
height:90vh;
background:url("../images/hero-car.jpg");
background-size:cover;
background-position:center;
display:flex;
justify-content:center;
align-items:center;
position:relative;
}

.overlay{
position:absolute;
width:100%;
height:100%;
background:rgba(0,0,0,.6);
}

.hero-content{
position:relative;
z-index:2;
text-align:center;
}

.hero-content h1{
font-size:60px;
margin-bottom:15px;
}

.btn{
padding:12px 25px;
border:none;
background:#f59e0b;
cursor:pointer;
margin-top:15px;
}

.section{
padding:70px 30px;
text-align:center;
}

.cards{
display:flex;
justify-content:center;
gap:20px;
flex-wrap:wrap;
margin-top:30px;
}

.card{
background:#1e293b;
padding:20px;
width:280px;
border-radius:15px;
}

.card img{
width:100%;
height:200px;
object-fit:cover;
border-radius:10px;
}

.card button{
padding:10px 15px;
margin-top:10px;
background:#f59e0b;
border:none;
cursor:pointer;
}

footer{
background:#111827;
padding:20px;
text-align:center;
}

.light{
background:white;
color:black;
}

.hero{
    height:100vh;

    background:url("https://images.unsplash.com/photo-1492144534655-ae79c964c9d7?auto=format&fit=crop&w=1600&q=80");

    background-size:cover;
    background-position:center;

    position:relative;

    display:flex;
    justify-content:center;
    align-items:center;

    text-align:center;
}