*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,sans-serif;
}

body{
    display:flex;
    background:#f4f4f4;
}

.sidebar{
    width:250px;
    height:100vh;
    background:#111827;
    color:white;
    padding:20px;
}

.sidebar h2{
    text-align:center;
    margin-bottom:30px;
    color:#f59e0b;
}

.sidebar ul{
    list-style:none;
}

.sidebar ul li{
    padding:15px;
    margin-bottom:10px;
    background:#1e293b;
    border-radius:8px;
    cursor:pointer;
}

.sidebar ul li:hover{
    background:#f59e0b;
}

.main-content{
    flex:1;
    padding:20px;
}

header{
    background:white;
    padding:20px;
    border-radius:10px;
    margin-bottom:20px;
}

.cards{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
    gap:20px;
}

.card{
    background:white;
    padding:25px;
    text-align:center;
    border-radius:10px;
    box-shadow:0 2px 8px rgba(0,0,0,0.2);
}

.card h2{
    color:#f59e0b;
    font-size:35px;
}

.table-section{
    margin-top:30px;
    background:white;
    padding:20px;
    border-radius:10px;
}

table{
    width:100%;
    border-collapse:collapse;
    margin-top:15px;
}

table th,
table td{
    border:1px solid #ddd;
    padding:12px;
    text-align:center;
}

table th{
    background:#111827;
    color:white;
}